[Unit]
Description=Embi-OS Ecosystem
After=systemd-user-sessions.service
ConditionFileIsExecutable=!/etc/default/b2qt
Conflicts=startupscreen.service

[Service]
User=@PRODUCT_APP_SERVICE_USER@
Group=@PRODUCT_APP_SERVICE_GROUP@
ExecStart=/usr/bin/appcontroller /Embi/A00_Launcher
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
