[Unit]
Description=Embi-OS Launcher
After=systemd-user-sessions.service
ConditionFileIsExecutable=!/etc/default/b2qt
Conflicts=startupscreen.service
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
User=root
ExecStart=/usr/bin/appcontroller /Embi/A00_Launcher
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
